body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  /* border: 3px solid red; */
}

.header ul {
  display: flex;
}

.header ul li {
  list-style: none;
  margin-right: 80px;
  text-shadow: 2px 2px 5px gray;
}

a {
  text-decoration: none;
}

.contenedor {
  max-width: 1280px;
  width: 90%;
  margin: auto;
  /* border: 10px solid blue; */
}

.header {
  background: linear-gradient(rgba(50, 0, 100, 0.6), rgba(50, 0, 100, .3)), url(../imagenes/fondo.jpg);
  height: 100vh;
  background-size: cover;
}

#contenedor-titulo-flex {
  display: flex;  
  justify-content: center;
  margin: 30vh 0;
  width: 100%;  
  /* border: 1px solid red; */
}

h1 {
  font-size: 50px;
  color: #fff;
  margin: 0;
  text-shadow: -5px 5px 5px rgb(47, 0, 68);
}

h2 {
  font-size: 25px;
  color: #fff;
  text-shadow: -3px 2px 3px rgb(47, 0, 68);
}

.contenedor-titulo {
  text-align: center;
}

.contenedor-titulo a, 
#sobre-mi a {
  font-size: 14px;
  color: #fff;
  background: rgba(50, 0, 100, 0.5);
  padding: 14px 24px;
  width: 128px;
  display: inline-block;
}

h1.logo {
  color: #fff;
  font-size: 20px;
  text-shadow: -2px 2px 2px rgb(237, 198, 255);
}

nav ul li a {
  color: #fff;
}

/* SECCION DE SOBRE MI */

h3 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 3px 2px rgb(128, 128, 128);
}

#sobre-mi .contenedor-sobremi {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#sobre-mi .texto {
  width: 90%;
  text-align: justify;
}

#sobre-mi img {
  width: 80%;
}

/* SECCION PORTAFOLIO */

.contenedor-portafolio {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;
}

.portafolio {
  width: 24%;
  padding: 35px 30px 40px 30px;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}

.portafolio h4 {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.portafolio p {
  margin-bottom: 30px;
  height: 190px;
  text-align: justify;
}

.contenedor-portafolio .morado {
    background: linear-gradient(to top,  #2c0044, #57267c);
    box-shadow: 0 12px 30px 0 rgba(80, 85, 223, .9);
}
.contenedor-portafolio .rosa {
    background: linear-gradient(to top, #5cb8ff, #f940f3);
    box-shadow: 0 12px 30px 0 rgba(86, 163, 222, .9);
}

.ondas {
  position: absolute;
  left: 0;
  bottom: 0;
}











/* CONTACTO */

.contacto-info {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.contacto-info img {
  width: 28px;
  vertical-align: middle;
  margin-right: 20px;
}

/* FOOTER */

.footer {
  background: rgb(200, 200, 200);
  padding: 10px 0;  
}

.footer .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  margin: 0 40px;
  transform: rotate(0);
  transition: 0.5s;
}

.footer img:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}

.footer p {
  color: #fff;
}

/* SALTOS VISTAS*/

/* #header {
  border: 1px solid greenyellow;
}

#sobre-mi {
  padding: 200px 0 0;
}

#portafolio {
  padding: 150px 0 300px;
}

#contacto {
  padding: 250px 0 300px;
} */

/* ************** */



html {
  scroll-behavior: smooth;
}

.menu-icon {
  display: none;
}

/* ****MEDIAS QUERY*** */

@media (max-width: 800px) {

  .menu-icon {
    display: block;
    float: right;
    width: 40px;
    height: 35px;
    margin-top: 15px;
  }

  .header nav {
    position: absolute;
    top: 83px;
    left: 0;
    height: 180px;
    background: rgba(212, 168, 255, 0.3);
    width: 100%;
    display: none;
  }

  .header nav ul {
    flex-direction: column;
  }

  .header nav ul li {
    margin-bottom: 15px;
  }

  .contenedor-titulo h1 {
    font-size: 30px;
    padding-top: 50px;
  }

  h2 {
    font-size: 20px;
  }

  #sobre-mi .contenedor-sobremi {
    flex-direction: column;
  }

  #sobre-mi img {
    width: 100%;
  }

  #sobre-mi .texto {
    width: 100%;
  }

  .contenedor-portafolio {
    flex-direction: column;
  }

  .portafolio {
    width: 80%;
    padding: 34px 30px 69px 30px;
  }  

  .icono {
    margin-top: 23px;
  }

  h3 {
    font-size: 43px;
  }


  input[type="text"],
  input[type="email"] {
    width: 100%;
  }

  .footer img {
    margin: 0 20px;
  }

  .contacto-info {
    display: flex;
    flex-direction: column ;
    text-align: center;
    margin-bottom: 50px;
  }

  .contacto-info .whatsapp {
    margin-bottom: 30px;
  }
}

@media (min-width: 600px) and (max-width:800px) {
  .header {
    height: 70vh;
  }

  #contenedor-titulo-flex {
    font-size: 30px;
  }

  .portafolio {
    width: 50%;
    padding: 34px 30px 69px 30px;
    margin: auto;
    margin-bottom: 45px;
  }
}


